<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../behaviors/app-behaviors.html">

<dom-module id="user-info">
  <template>
    <style>
      :host {
        /* para estilizar o proprio template, o container do component*/
        display: block;
        border: 2px solid red;
      }

      /* aplica o estilo abaixo se a classe entre parenteses existir na tag do container do component */
      :host(.valid-border-color) {
        border-color: blue;
      }

      .fullname {
        margin: 30px 0px;
      }

      p {
        margin: 10px 0px;
        padding: 0;
      }

      div {
        margin: 20px 0px;
      }

      .ball {
        height: 100px;
        width: 100px;
        margin: 40px 0px;
        border-radius: 50px;
        background-color: blue;
        transition: all .2s ease-out;
        transform: scale(1);
      }

      :host(.increase) .ball {
        transform: scale(2);
      }

      :host(.pressed) #increseBallButton {
        -webkit-animation: bounce 0.9s ease-out;
        animation: bounce 0.9s ease-out;
      }

      @keyframes bounce {
        0% {
          transform: scale(1.0);
        }

        10% {
          transform: scale(1.2);
        }

        20% {
          transform: scale(1.3);
        }

        30% {
          transform: scale(1.2);
        }

        40% {
          transform: scale(1.0);
        }

        50% {
          transform: scale(1.1);
        }

        60% {
          transform: scale(1.0);
        }

        70% {
          transform: scale(1.05);
        }

        80% {
          transform: scale(1.0);
        }

        90% {
          transform: scale(1.02);
        }

        100% {
          transform: scale(1.0);
        }
      }
    </style>


    <div class="fullname">
      <p>Binding using property: </p>[[fullname]]
      <!-- one way -->
    </div>

    <div class="fullname">
      <!-- reocmendado se for usar em um unico lugar -->
      <p>Binding with inline function: </p>{{_computeFullName(first, last)}}
    </div>

    <div>
      Age: <span>{{age}}</span>
    </div>

    <div>
      Address: <span>{{address.street}}, {{address.number}}</span>

      Change address: <input type="text" value="{{address.street}}" />

      <button on-tap="changeAddress">Change Address</button>
    </div>

    <div>
      <p>Relatives: [[relatives]]</p>
      <p>Favorite relative: {{favoriteRelative}}</p>
    </div>

    <div class="ball-area">
      <!-- podemos usar o on-tap como se fosse um tipo de ng-click ou on-click -->
      <button id="increseBallButton" on-tap="increaseBall">Increase Toggle Ball</button>

      <div class="ball"></div>
    </div>

  </template>
</dom-module>

<script>
  Polymer({
    is: "user-info",
    behaviors: [AppBehaviors.pressedBehaviors], // Behavior é uma forma de adicionar comportamentos ao componente, shareando/usando o código do behavior passando no array (que deve ser importado). O behavior pode definir callbacks, propriedades, atributos defaults, observers e listeners. Para o ciclo de vida de eventos a callback é chamada para cada behavior na ordem em que estiver no array. Se houver um metodo (implementação de um abstrato) com a mesma referencia no componente para o behavior, ele irá rexecutar primeio a heranaça existente no behavior, parar depois executar o metodo implementado abstrato que existe lá, porem esta implementado aqui.
    properties: {
      first: String, // define que a propriedade deve receber um valor que seja String
      last: String,
      age: { // forma de escrever uma propriedade com mais valores
        type: Number,
        value: 42, // valor default da propriedade caso não seja passado nada
        observer: '_ageChanged', // observador é ativado sempre que a propriedade muda, chamando a função passada. O _ significa para dizer que essa função é para uso interno deste elemento
        notify: true, // serve para fazer o despatch desse evento. Faz parte do two-way binding do Polymer. Sempre que quiser two-way, usar ele
      },
      fullname: {
        computed: '_computeFullName(first, last)' // a pripriedade serve para computar/combinar outras propriedades. Se algumas das propriedades passadas por parametro mudarem de valor, essa função será rodada novamente.
      },
      address: {
        type: Object,
        value: function () {
          return { street: 'Rua teste', number: '70' }
        }
      },
      count: {
        type: Number,
        readOnly: true, // para criar uma propriedade que é visivel mas não pode ser alterada
        reflectToAttribute: true,
      },
      relatives: {
        type: Array,
        value: function () {
          return ['Marcelo', 'Marcos', 'João'];
        }
      },
    },

    _computeFullName: function (first, last) {
      return first + ' ' + last;
    },
    _ageChanged: function (age) {
      return age;
    },
    changeBorderColor: function (color) {
      this.classList.toggle('valid-border-color');
    },
    increaseBall: function () {
      this.classList.toggle('increase');
    },
    changeAddress: function () {
      // forma imperativa
      // esta é a forma de atualizar/sincronizar uma propriedade dentro de um objeto (propriedade) no data binding. O polymer sabe que esse binding é um notifyPath, porem para não ser onerozo ele preciza saber qual é a propriedade que vc quer criar o setter no property effects. O this.set abaixo é um short-hand para o exemplo comentado a seguir.
      this.set('address.street', 'Rua atualizada');

      // this.address.street = 'Rua atualizada';
      // this.notifyPath('address.street', this.address.street);
    },

    observers: ['receiveFavoriteRelative(relatives.*, 0)'], // passa o metodo que será rodado e que esta assistindo a propriedade relatives na posição que receber do Array, passando o index 0. Outra forma é não usar o observer e usar um computed binding.
    receiveFavoriteRelative: function (changeRelative, index) {
      this.favoriteRelative = changeRelative.base[index];
    },

    _onPressEnd: function() {
      alert('implementando metodo abstrato do behavior');
    }
  });
</script>